*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}
html
{
	font:normal 22px simonson;
}
nav
{
	list-style:none;
	
}
ul
{
	text-decoration:none;
}
a
{
	text-decoration:none;
	color: black;
	cursor:pointer;
}
a:hover
{
	opacity:0.2;
}
/*header*/
header 
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:10;
	display:flex;
	justify-content:space-between;
	align-items:center;
	color: blank;
	padding: 35px 100px 0;
}
header nav
{
	display:flex;
	
}
header nav li
{
	margin:0 15px;
	justify-content:flex-end;
}
@media (max-width: 700px)
{
	header
	{	
	flex-direction:column;
	}
	header h2
	{
		margin-bottom:15px;
	}
}
	
section h3
{
	color:#414a4f;
	text-transform:capitalize;
	font:bold 32px 'Open Sans', Sans-serif;
	margin-bottom:15px;
	text-align:center;
}
section p
{
	max-width:800px;
	text-align:center;
	margin-bottom:35px;
	padding:0 20px;
	line-height:2;
}
.tabla
{
	padding:10px;
	margin:100px;
}




